<template>
    <ContentField>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span style="font-size: 130%;">我的作品</span>
                    <router-link :to="{name:'submit'}" type="button" class="btn btn-primary float-end" role="button">提交新作品</router-link>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>作品名称</th>
                                <th>作品类型</th>
                                <th>作者名称</th>
                                <th>拍摄时间</th>
                                <th>提交时间</th>
                                <th>作品详情</th>
                                <th>审核状态</th>
                                <th>专利代码</th>
                                <th>二维码</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="picture in pictures" :key="picture.id">
                                <td>{{ picture.title }}</td>
                                <td>{{ picture.type }}</td>
                                <td>{{ picture.userName }}</td>
                                <td>{{ picture.shotTime }}</td>
                                <td>{{ picture.submitTime }}</td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#show-pic-modal'+picture.id">
                                        查看
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" :id="'show-pic-modal'+picture.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ picture.title }}</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" >
                                                    <img :src= getImg(picture.photo) class="img-fluid" alt="...">
                                                    作品描述：{{ picture.description }}
                                                    <br>
                                                    审核员建议：{{ picture.advice }}
                                                    <br>
                                                    审核员建议：{{ picture.code }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ picture.status }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#show-code-modal'+picture.id">
                                    查看
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" :id="'show-code-modal'+picture.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">专利代码</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ picture.code }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                                        </div>
                                        </div>
                                    </div>
                                    </div>    
                                </td>
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#show-qr-modal'+picture.id">
                                        查看
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" :id="'show-qr-modal'+picture.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ picture.title }}二维码</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" >
                                                    <img :src= "'http://localhost:3000/generate/?content='+get_content(picture)" class="img-fluid" alt="...">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" :data-bs-target="'#update-pic-modal'+picture.id" :id="'update_set'+picture.id">修改信息</button>
                                        <div class="modal fade" :id="'update-pic-modal'+picture.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">修改信息</h1>
                                                </div>
                                                <form @submit.prevent="update(picture)">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">修改作品名</label>
                                                        <input v-model="picture.title" :disabled="flagb == 1" type="text" class="form-control" :id="'title' + picture.id">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="type" class="form-label">作品类型</label>
                                                        <select class="form-select" aria-label="Default select example" v-model="picture.type">
                                                            <option value="风景">风景</option>
                                                            <option value="人物">人物</option>
                                                            <option value="动物">动物</option>
                                                            <option value="其它">其它</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">修改作品拍摄时间</label>
                                                        <input v-model="picture.shotTime" :disabled="flagb == 1" type="text" class="form-control" :id="'shoTime' + picture.id">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlTextarea1" class="form-label">修改作品描述</label>
                                                        <textarea v-model="picture.description" :disabled="flagb == 1" class="form-control" :id="'description' + picture.id" rows="3"></textarea>
                                                    </div>
                                                    <form @submit.prevent="fileload">
                                                        <div class="col">
                                                            <label for="photo" class="form-label">照片文件(不上传默认原图片)</label>
                                                            <input :disabled="flag == 1" type="file" class="form-control" aria-label="file example" required id = "fileUpload">
                                                            <button :disabled="flag == 1" type="submit" class="btn btn-primary">上传图片</button>
                                                            <div class="message">{{ msg }}</div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" :onclick="refresh_flag">Close</button>
                                                    <button type="submit" class="btn btn-primary">提交修改</button>
                                                    <div class="message">{{ error_message }}</div>
                                                </div>
                                            </form>
                                                </div>
                                            </div>
                                            </div>
                                    <button type="button" class="btn btn-danger" style="margin-left: 10px;" @click="remove_pics(picture)">删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>   
    </ContentField>
</template>

<script>
import ContentField from '../../components/ContentField.vue'
import  $ from 'jquery'
import { useStore } from 'vuex'
import { ref } from 'vue'


export default {
    components: {
        ContentField
    },
    setup(){
        const store = useStore();
        let pictures = ref([]);
        let msg = ref('');
        let flag = ref('');
        let photo = ref('');
        let title = ref('');
        let type = ref('');
        let shotTime = ref('');
        let description = ref('');
        let error_message = ref('');
        let flagb = ref('');
        let content= ref('');
        

        
        const get_content = (pic) =>{
            content = "作品名:" + pic.title + " \n作品类型:" + pic.type + " \n作者姓名:" + pic.userName + " \n拍摄时间:" + pic.shotTime 
            + " \n提交时间:" + pic.submitTime + " \n作品描述:" + pic.description + " \n审核状态:" + pic.status + " \n审核员建议:" + pic.advice
            + " \n专利代码:" + pic.code;
            return content;
        }
       
    

        
        const remove_pics = (pic) =>{
            $.ajax({
            url:"http://localhost:3000/user/picture/remove/",
            type: "post",
            data:{
                picture_id: pic.id,
            },
            headers:{
                Authorization: "Bearer " + store.state.user.token,
            },
            success(resp){
                if(resp.error_message === "success"){
                    refresh_pics();

                }
                else{
                    error_message.value = resp.error_message;
                }
            },
            error(resp){
                console.log(resp);
            }
            });
        }
      
        
        const refresh_flag = () =>{
            flag.value = '';
            flagb.value = '';
            msg.value = '';
            error_message.value = '';
            refresh_pics();
        }
        const getImg = (name)=>{
            return new URL(`http://localhost:3000/open/photos/${name}`, import.meta.url).href;

        }
        const refresh_pics = () =>{
            $.ajax({
                url: "http://localhost:3000/user/picture/getlist/",
                type:"get",
                headers:{
                    Authorization:"Bearer " + store.state.user.token,
                },
                success(resp){
                    pictures.value = resp;
                }
            });
        }
        const fileload = () =>{
            var formData = new FormData();
            formData.append('file', $('#fileUpload')[0].files[0]);
            $.ajax({
                type: 'POST',
                url: "http://localhost:3000/file/upload/",
                data: formData,
                headers:{
                Authorization: "Bearer " + store.state.user.token,
                },
                contentType: false,
                processData: false,
                success(resp){
                    photo.value = resp.data;
                    msg.value = resp.msg;
                    if(msg.value === '文件上传成功'){
                        flag.value = '1';
                    }
                    else{
                        msg.value = "仅支持jpg,png或img格式图片";
                    }
                },
                error(resp) {
                    msg.value = resp.msg;
                }
            });
        }
        const update = (pic) => {
            if(photo.value === ''){
                photo.value = pic.photo;
            }
            $.ajax({
            url:"http://localhost:3000/user/picture/update/",
            type: "post",
            data:{
                picture_id :pic.id,
                title: pic.title,
                type: pic.type,
                description: pic.description,
                shotTime: pic.shotTime,
                photo: photo.value,
            },
            headers:{
                Authorization: "Bearer " + store.state.user.token,
            },
            success(resp){
                if(resp.error_message === "success"){
                    error_message.value = "提交成功";
                    flagb.value = '1';
                    flag.value = '1';
                    photo.value = '';
                    refresh_pics;
                }
                else{
                    error_message.value = resp.error_message;
                }
            },
            error(resp){
                console.log(resp);
            }
            });
        }
        refresh_pics();
        return{
            pictures,
            fileload,
            getImg,
            flag,
            msg,
            update,
            flagb,
            title,
            type,
            photo,
            description,
            shotTime,
            refresh_flag,
            error_message,
            remove_pics,
            get_content,
        
        }
    }
}
</script>
<meta name="referrer" content="no-referrer"/>
<style scoped>
</style>