<template>
    <ContentField>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span style="font-size: 130%; line-height: 60px;">搜索作品</span>
                    <br>
                        <form @submit.prevent="search">
                        <div class="row">
                            <div class="col">
                                <label for="photo" class="form-label">作者名称</label>
                                <input v-model="user_name" type="text" class="form-control" placeholder="请输入作者名">
                            </div>
                            <div class="col">
                                <label for="photo" class="form-label">作品名称</label>
                                <input v-model="title" type="text" class="form-control" placeholder="请输入作品名">
                            </div>
                            <div class="col">
                                <label for="photo" class="form-label">作品类型</label>
                                <select class="form-select" aria-label="Default select example" v-model="type" >
                                    <option value="风景">风景</option>
                                    <option value="人物">人物</option>
                                    <option value="动物">动物</option>
                                    <option value="其它">其它</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="photo" class="form-label">提交日期</label>
                                <div class="input-group mb-3">  
                                    <span class="input-group-text">年</span>
                                    <input v-model="year" type="text" class="form-control" placeholder="XXXX" aria-label="Server">
                                    <span class="input-group-text">月</span>
                                    <input v-model="month" type="text" class="form-control" placeholder="XX" aria-label="Server">
                                    <span class="input-group-text">日</span>
                                    <input v-model="date" type="text" class="form-control" placeholder="XX" aria-label="Server">
                                </div>
                            </div>
                            <div class="col">
                                <br>
                                <button type="submit" class="btn btn-primary">搜索</button>
                                <div class="message">{{ error_message_time }}</div>
                            </div>
                        </div>
                    </form>
                        <div class="divider"></div>
                        <hr class="simple" color="#6f5499" />
                        <div class="card-body">
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>作品名称</th>
                                <th>作品类型</th>
                                <th>作者名称</th>
                                <th>拍摄时间</th>
                                <th>提交时间</th>
                                <th>作品详情</th>
                                <th>审核状态</th>
                                <th>专利代码</th>
                                <th>二维码</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="picture in pictures" :key="picture.id">
                                <td>{{ picture.title }}</td>
                                <td>{{ picture.type }}</td>
                                <td>{{ picture.userName }}</td>
                                <td>{{ picture.shotTime }}</td>
                                <td>{{ picture.submitTime }}</td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#show-pic-modal'+picture.id">
                                        查看
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" :id="'show-pic-modal'+picture.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ picture.title }}</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" >
                                                    <img :src= getImg(picture.photo) class="img-fluid" alt="...">
                                                    作品描述：{{ picture.description }}
                                                    <br>
                                                    审核员建议：{{ picture.advice }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ picture.status }}</td>
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#show-code-modal'+picture.id">
                                        查看
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" :id="'show-code-modal'+picture.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ picture.title }}专利代码</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" >
                                                    {{ picture.code }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#show-qr-modal'+picture.id">
                                        查看
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" :id="'show-qr-modal'+picture.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ picture.title }}二维码</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" >
                                                    <img :src= "'http://localhost:3000/generate/?content='+get_content(picture)" class="img-fluid" alt="...">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
    
                                </tr>
                                
                                </tbody>  
                        </table>
                        <div class="message">{{ error_message_search }}</div>
                        <button type="button" class="btn btn-primary" :disabled="flag != '1'" @click="excel_write">导出excel</button>
                        <div class="message_excel">{{ error_message_excel }}</div>
                        </div>
                </div>
            </div>
        </div>
    </ContentField>
</template>

<script>
import ContentField from '../../../components/ContentField.vue'
import $ from 'jquery'
import { useStore } from 'vuex'
import { ref } from 'vue'




export default {
    components: {
        ContentField
    },
    setup(){
        let pictures = ref([]);
        let title = ref('');
        let type = ref('');
        let year = ref('');
        let month = ref('');
        let date = ref('');
        let error_message_time = ref('');
        let error_message_search = ref('');
        let error_message_excel = ref('');
        let user_name = ref('');
        let content= ref('');
        let excel = ref('');
        let flag = ref('');

        
        const get_content = (pic) =>{
            content = "作品名:" + pic.title + " \n作品类型:" + pic.type + " \n作者姓名:" + pic.userName + " \n拍摄时间:" + pic.shotTime 
            + " \n提交时间:" + pic.submitTime + " \n作品描述:" + pic.description + " \n审核状态:" + pic.status + " \n审核员建议:" + pic.advice
            + " \n专利代码:" + pic.code;
            return content;
        }
        const getImg = (name)=>{
            return new URL(`http://localhost:3000/open/photos/${name}`, import.meta.url).href;
        }
        const store = useStore();
        const refresh_search = () =>{
            title.value = '';
            type.value = '';
            year.value = '';
            month.value = '';
            date.value = '';
            user_name.value = '';
        }
        const search = () =>{
            $.ajax({
                type: 'GET',
                url: "http://localhost:3000/user/admin/search/",                
                data: {
                    user_name: user_name.value,
                    title: title.value,
                    type: type.value,
                    year: year.value,
                    month: month.value,
                    date: date.value,
                    excel:excel.value,
                },
                headers:{
                Authorization: "Bearer " + store.state.user.token,
                },
                success(resp) {
                    flag.value = "";
                    error_message_excel.value = '';
                    if(!((year.value == '') && (month.value == '') && (date.value == '')) && !((year.value != '') && (month.value != '') && (date.value != '')))
                    {
                        error_message_time.value = "请输入完整时间";
                    }
                    else{
                        error_message_time.value = "";
                    }
                    pictures.value = resp;
                    if(pictures.value == false)
                    {
                        error_message_search.value = "没有查询到结果，请确认名称，类型，时间是否正确";
                    }
                    else{
                        error_message_search.value = "";
                        flag.value = "1";
                    }
                        refresh_search();
                },
                error(resp) {
                    console.log(resp);
                }
            });
        }
        const excel_write = () =>{
            excel.value = "1";
            error_message_excel.value = "excel文件已经导出";
            flag.value = "";
            refresh_search();
        }
        
        return{
            search,
            pictures,
            error_message_time,
            year,
            month,
            date,
            refresh_search,
            type,
            title,
            getImg,
            error_message_search,
            user_name,
            content,
            get_content,
            excel,
            excel_write,
            flag,
            error_message_excel,
            }
    }
}

</script>


<style scoped>
div.message{
    color: red;
}
</style>