<template>
    <ContentField>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span style="font-size: 130%;">
                        <button type="button" @click="set_status('')" :class="code_status === '' ? 'btn btn-primary' : 'btn btn-outline-primary'">全部作品</button>
                        <button type="button" @click="set_status('审核中')" :class="code_status === '审核中' ? 'btn btn-primary' : 'btn btn-outline-primary'" >审核中作品</button>
                        <button type="button" @click="set_status('通过')" :class="code_status === '通过' ? 'btn btn-primary' : 'btn btn-outline-primary'">通过作品</button>
                        <button type="button" @click="set_status('未通过')" :class="code_status === '未通过' ? 'btn btn-primary' : 'btn btn-outline-primary'">未通过作品</button>

                    </span>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>作品名称</th>
                                <th>作品类型</th>
                                <th>作者名称</th>
                                <th>拍摄时间</th>
                                <th>提交时间</th>
                                <th>作品详情</th>
                                <th>审核状态</th>
                                <th>专利代码</th>
                                <th>二维码</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="picture in pictures" :key="picture.id">
                                <td>{{ picture.title }}</td>
                                <td>{{ picture.type }}</td>
                                <td>{{ picture.userName }}</td>
                                <td>{{ picture.shotTime }}</td>
                                <td>{{ picture.submitTime }}</td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#show-pic-modal'+picture.id+code_status">
                                        查看
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" :id="'show-pic-modal'+picture.id+code_status" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ picture.title }}</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" >
                                                    <img :src= getImg(picture.photo) class="img-fluid" alt="...">
                                                    作品描述：{{ picture.description }}
                                                    <br>
                                                    审核员建议：{{ picture.advice }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ picture.status }}</td>
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#show-code-modal'+picture.id">
                                        查看
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" :id="'show-code-modal'+picture.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ picture.title }}专利代码</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" >
                                                    {{ picture.code }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#show-qr-modal'+picture.id">
                                        查看
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" :id="'show-qr-modal'+picture.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ picture.title }}二维码</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" >
                                                    <img :src= "'http://localhost:3000/generate/?content='+get_content(picture)" class="img-fluid" alt="...">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" :data-bs-target="'#update-pic-modal'+picture.id" :id="'update_set'+picture.id">审核作品</button>
                                        <div class="modal fade" :id="'update-pic-modal'+picture.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">审核作品</h1>
                                                </div>
                                                <form @submit.prevent="examine(picture)">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="type" class="form-label">审核结果</label>
                                                        <select class="form-select" aria-label="Default select example" v-model="picture.status">
                                                            <option value="审核中">审核中</option>
                                                            <option value="通过">通过</option>
                                                            <option value="未通过">未通过</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlTextarea1" class="form-label">审核员建议：</label>
                                                        <textarea v-model="picture.advice" class="form-control" :id="'description' + picture.id" rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                                                    <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal">提交审核</button>
                                                </div>
                                            </form>
                                                </div>
                                            </div>
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>   
    </ContentField>
</template>
<script>
import ContentField from '../../../components/ContentField.vue'
import  $ from 'jquery'
import { useStore } from 'vuex'
import { ref } from 'vue'


export default {
    components: {
        ContentField
    },
    setup(){
        const store = useStore();
        let pictures = ref([]);
        let msg = ref('');
        let error_message = ref('');
        let status = ref('');
        let code_status = ref('');
        let content= ref('');
        

        
        const get_content = (pic) =>{
            content = "作品名:" + pic.title + " \n作品类型:" + pic.type + " \n作者姓名:" + pic.userName + " \n拍摄时间:" + pic.shotTime 
            + " \n提交时间:" + pic.submitTime + " \n作品描述:" + pic.description + " \n审核状态:" + pic.status + " \n审核员建议:" + pic.advice
            + " \n专利代码:" + pic.code;
            return content;
        }

        const set_status = (sta) =>{
            code_status.value = sta;
            refresh_codes();
        }
   



        const examine = (pic) =>{
            $.ajax({ 
                type: 'POST',
                url: "http://localhost:3000/user/admin/examine/",
                data: {
                    status:pic.status,
                    picture_id:pic.id,
                    advice:pic.advice,
                },
                headers:{
                Authorization: "Bearer " + store.state.user.token,
                },
                success(resp){
                    if(resp.error_message === "success"){
                        msg.value = "审核完毕";
                        refresh_codes();
                    }
                    else{
                        msg.value = "error1";
                    }
                },
                error() {
                    msg.value = "error";
                }
            });
        }
        

        const refresh_flag = () =>{
            error_message.value = '';
            msg.value = '';
           
        }
        const getImg = (name)=>{
            return new URL(`http://localhost:3000/open/photos/${name}`, import.meta.url).href;

        }
        const refresh_codes = () =>{
            $.ajax({ 
                type: 'GET',
                url: "http://localhost:3000/user/admin/getlist/",
                data: {
                    code_status:code_status.value,
                },
                headers:{
                Authorization: "Bearer " + store.state.user.token,
                },
                success(resp){
                    pictures.value = resp;
                },
                error(resp) {
                    console.log(resp);
                }
            });
        }
        refresh_codes();
        return{
            pictures,
            getImg,
            msg,
            refresh_flag,
            error_message,
            status,
            examine,
            refresh_codes,
            code_status,
            set_status,
            get_content,
        }
    }
}
</script>
 
<style scoped>
.nav-item{
    font-size: 80%;
}
</style>