<template>
    <ContentField v-if="!$store.state.user.pulling_info">
        <div class="row justify-content-md-center">
            <div class="col-3">
                <form @submit.prevent="login">
                    <div class="mb-3">
                        <label for="username" class="form-label">用户名</label>
                        <input v-model ="username" type="text" class="form-control" id="username" placeholder="请输入用户名">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">密码</label>
                        <input v-model ="password" type="password" class="form-control" id="password" placeholder="请输入密码">
                    </div>
                    <div class="mb-3">
                        <label for="photo" class="form-label">用户类型</label>
                        <select class="form-select" aria-label="Default select example" v-model="admin" >
                            <option value="false">普通用户</option>
                            <option value="true">管理员</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="verCode" class="form-label">验证码</label>
                        <input v-model ="verCode" type="text" class="form-control" id="verCode" placeholder="请输入验证码">
                        <img src='http://localhost:3000/user/account/captcha/'/>
                    </div>
                    <div class = "error-message">{{ error_message }}</div>
                    <button type="submit" class="btn btn-primary">登录</button>
                </form>
            </div>
        </div>
    </ContentField>
</template>

<script>
import ContentField from '../../../components/ContentField.vue'
import { useStore } from 'vuex'
import { ref } from 'vue'
import router from '../../../router/index'


export default {
    components: {
        ContentField
    },
    setup(){
        const store = useStore();
        let username = ref('');
        let password = ref('');
        let error_message = ref('');
        let admin = ref('');
        let verCode = ref('');
        let specCode = ref('');

        const jwt_token = localStorage.getItem("jwt_token");
        if(jwt_token){
            store.commit("updateToken", jwt_token);
            store.dispatch("getinfo", {
                success(){
                    store.commit("updateFlagLogin", "1");
                    router.push({name:"index"});
                    store.commit("updatePullingInfo", false); 
                },
                error(){
                    store.commit("updatePullingInfo", false); 
                }
            })
        }
        else{
            store.commit("updatePullingInfo", false); 
        }

        const login = () =>{
                error_message.value = "";
                store.dispatch("login", {
                username: username.value,
                password: password.value,
                admin: admin.value,
                verCode: verCode.value,
                success(){
                    store.dispatch("getinfo", {
                        success(){
                            router.push({name: 'index'});
                        }
                    }) 
                },
                error(resp){
                    if(resp.error_message != 'success')
                        error_message.value = "用户名或密码有错/或用户类型错误";
                    else
                        error_message.value = resp.error_message;
                    
                },
                
            })
        }
        const getImg = () =>{
            return new URL(`http://localhost:3000/user/account/captcha/`, import.meta.url).href;

        }

        return{
            username,
            password,
            error_message,
            login,
            admin,
            verCode,
            getImg,
            specCode,
        }
    }
}
</script>

<style scoped>
button {
    width: 100%;
}

div.error-message{
    color: red;
}
</style>