<template>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <router-link class="navbar-brand" :to="{name: ''}">Test</router-link>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" v-if="$store.state.user.admin === 'false'">
        <li class="nav-item">
          <router-link :class="route_name == 'index' ? 'nav-link active' : 'nav-link'" :to="{name: 'index'}">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link :class="route_name == 'submit' ? 'nav-link active' : 'nav-link'" :to="{name: 'submit'}">作品提交</router-link>
        </li>
        <li class="nav-item">
          <router-link :class="route_name == 'result' ? 'nav-link active' : 'nav-link'" :to="{name: 'result'}">我的作品</router-link>
        </li>
        <li class="nav-item">
          <router-link :class="route_name == 'search' ? 'nav-link active' : 'nav-link'" :to="{name: 'search'}">作品搜索</router-link>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" v-else-if="$store.state.user.admin === 'true'">
        <li class="nav-item">
          <router-link :class="route_name == 'index' ? 'nav-link active' : 'nav-link'" :to="{name: 'index'}">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link :class="route_name == 'user_admin_examine' ? 'nav-link active' : 'nav-link'" :to="{name: 'user_admin_examine'}">作品审核</router-link>
        </li>
        <li class="nav-item">
          <router-link :class="route_name == 'user_admin_search' ? 'nav-link active' : 'nav-link'" :to="{name: 'user_admin_search'}">作品搜索</router-link>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" v-else>
        <li class="nav-item">
          <router-link :class="route_name == 'temp' ? 'nav-link active' : 'nav-link'" :to="{name: 'temp'}">Home</router-link>
        </li>
      </ul>
      <ul class="navbar-nav" v-if="$store.state.user.is_login">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ $store.state.user.username }}
          </a>
          <ul class="dropdown-menu">
            <router-link class="dropdown-item" :to="{name: 'profile'}">个人信息</router-link>
            <li><hr class="dropdown-divider"></li>
            <router-link class="dropdown-item" :to="{name: 'user_account_login'}" @click = "logout">退出登录</router-link>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav" v-else-if="!$store.state.user.pulling_info">
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'user_account_login'}" role="button">
            登录
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'user_account_register'}" role="button">
            注册
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</nav>
</template>

<script>
import { useRoute } from 'vue-router';
import { computed } from 'vue';
import { useStore } from 'vuex';

export default{
  setup(){
    const store = useStore();
    const route = useRoute();
    let route_name = computed(() => route.name)

    const logout = () => {
      store.dispatch("logout");
    }
    return{
      route_name,
      logout
    }
  }
}
</script>

<style scoped>

</style>