<template>
    <ContentField>
        <form @submit.prevent="add">
            <div class = "row mb-3">
                <div class="col">
                    <label for="title" class="form-label">作品名称</label>
                    <input :disabled="flagb == 1" v-model = "title" type="text" class="form-control" id="title" placeholder="请输入作品名称">
                </div>
                <div class="col">
                    <label for="type" class="form-label">作品类型</label>
                    <select class="form-select" aria-label="Default select example" :disabled="flagb == 1" v-model="type" >
                        <option value="风景">风景</option>
                        <option value="人物">人物</option>
                        <option value="动物">动物</option>
                        <option value="其它">其它</option>
                    </select>
                </div>
            </div>
            <div class = "row mb-3">
                <div class="col">
                    <label for="username" class="form-label">作品所有者</label>
                    <input type="text" class="form-control" id="username" :placeholder="$store.state.user.username" disabled>
                </div>
                <div class="col">
                    <label for="shotTime" class="form-label">拍摄时间</label>
                    <input :disabled="flagb == 1" v-model = "shotTime" type="text" class="form-control" id="shotTime" placeholder="请输入拍摄时间">
                </div>
            </div>
            <div class = "row mb-3">
                <div class="col">
                    <label for="description" class="form-label">作品描述</label>
                    <textarea :disabled="flagb == 1" v-model = "description" class="form-control" aria-label="With textarea" id = "description" placeholder="请输入作品描述："></textarea>
                </div>
                <form @submit.prevent="fileload">
                    <div class="col">
                        <label for="photo" class="form-label">照片文件</label>
                        <input :disabled="flag == 1" type="file" class="form-control" aria-label="file example" required id = "fileUpload">
                        <button :disabled="flag == 1" type="submit" class="btn btn-primary">上传图片</button>
                        <div class="message">{{ msg }}</div>
                    </div>
                </form>
            </div>
            <div class = "error-message">{{ error_message }}</div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button :disabled="flagb == 1" type="submit" class="btn btn-primary btn-lg">提交</button>
            </div>
            <div class="col-50">
                <router-link class="btn btn-info" :to="{name: 'result'}" role="button">回到我的作品</router-link>
            </div>
                
                
        </form>
    </ContentField>
</template>

<script>
import ContentField from '../../components/ContentField.vue'
import { ref } from 'vue'
import $ from 'jquery'
import { useStore } from 'vuex'

export default {
    components: {
        ContentField
    },
    setup(){
        const store = useStore();
        let title = ref('');
        let type = ref('');
        let shotTime = ref('');
        let description = ref('');
        let photo = ref('');
        let error_message = ref('');
        let flag = ref('');
        let flagb = ref('');
        let msg = ref('');
        const fileload = () =>{
            var formData = new FormData();
            formData.append('file', $('#fileUpload')[0].files[0]);
            $.ajax({
                type: 'POST',
                url: "http://localhost:3000/file/upload/",
                data: formData,
                headers:{
                Authorization: "Bearer " + store.state.user.token,
                },
                contentType: false,
                processData: false,
                success(resp){
                    photo.value = resp.data;
                    msg.value = resp.msg;
                    if(msg.value === '文件上传成功'){
                        flag.value = '1';
                    }
                    else{
                        msg.value = "仅支持jpg,png或img格式图片";
                    }
                },
                error(resp) {
                    msg.value = resp.msg;
                }
            });
        }
        const add = () => {
            $.ajax({
            url:"http://localhost:3000/user/picture/add/",
            type: "post",
            data:{
                title: title.value,
                type: type.value,
                description: description.value,
                shotTime: shotTime.value,
                photo: photo.value,
            },
            headers:{
                Authorization: "Bearer " + store.state.user.token,
            },
            success(resp){
                if(resp.error_message === "success"){
                    error_message.value = "提交成功";
                    flagb.value = '1';
                }
                else{
                    error_message.value = resp.error_message;
                }
            },
            error(resp){
                console.log(resp);
            },
            })
        }
        return{
            title,
            type,
            description,
            photo,
            shotTime,
            add,
            error_message,
            fileload,
            flag,
            msg,
            flagb
        }
        
    }
    
}
</script>


<style scoped>
div{
    line-height: 40px;
}

</style>