<template>
<NavBar></NavBar> 
<router-view></router-view> 
</template>




<script>
import NavBar from './components/NavBar.vue'
import "bootstrap/dist/js/bootstrap"
import "bootstrap/dist/css/bootstrap.min.css"
//import $ from 'jquery'

export default{
  components:{
    NavBar
  },

  /*setup(){
     

  $.ajax({
      url: "http://localhost:3000/user/account/register/",
      type: "post",
      data: {
        username: "test3",
        password: "root",
        confirmedPassword: "root",
      },
      success(resp){
        console.log(resp);
      },
      error(resp){
        console.log(resp);
      }
  });


}*/
}
</script>

<style>
body {
   background-image: url("@/assets/bgp.png");
   background-size: cover;
}

</style>
