<template> 
    <ContentField>
        作品审核系统主页
    </ContentField>
</template>

<script>
import ContentField from '../../components/ContentField.vue'

export default {
    components: {
        ContentField
    }
}

</script>

<style scoped>
</style>